!!!
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title test
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/main.css")
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900', rel='stylesheet', type='text/css')
		script(src="js/modernizr-2.6.2-respond-1.1.0.min.js")
	body
		block container
		block footer
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	script(src="js/main.js")