extends ../../base

block container
	// container
	#jamon.container
		.col-xs-12
			.profile-image
				img(src="assets/img/avatar.jpg", class="img-responsive", alt="profile-image")
		.col-xs-12.text-center
			h1 Roger Sterling
		.col-xs-12.text-center
			h3 Accountant & fron-end Developer
		.col-xs-12.text-center
			.social-icon
				span.lsf mail
				span.lsf twitter
				span.lsf linkedin
				span.lsf web
			span.location Manhattan, NY
		.col-xs-12.text-center
			.bio Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless dwdw
		.col-xs-12.text-center
			.skill.col-xs-6 html5
			.skill.col-xs-6 less
			.skill.col-xs-6 javascript
			.skill.col-xs-6 design patterns

block footer
	// footer
	nav.navbar.navbar-fixed-bottom
		.mobile-bottom-menu.text-center
			a(href='#') 
				span.option.lsf book
			a(href='#')
				span.option.lsf folder
			a(href='#')
				span.option.lsf setting