

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
	/*box-shadow: inset 0 0 5px yellow;*/
}
body {
	font-size: 18px;
	font-family: "Source Sans Pro";
	background-image: url("../assets/img/pattern2x.png"); 
	color: white;
}
h1 {
	font-size: 40px;
	font-family: "Source Sans Pro";
	font-weight: 600;
}
h3 {
	font-size: 20px;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-variant: small-caps;
}
.profile-image {
	margin: 0 auto;
	width: 100px;
	border: 2px solid white;
}

.location {
	font-size: 18px;
	padding-left: 20px;
	border-left: 1px solid white;
}

.bio {
	margin: 18px 0;
	padding: 18px 0;
	font-size: 18px;
	line-height: 24px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.social-icon {
	font-size: 25px;
	display: inline-block;
	padding-right: 20px;
}

.social-icon .lsf {
	margin-left: 18px;
}

a span {
	color: white;
}
.option {
	margin: 0 1px;
	padding: 6px 10px;
	/*height: 84px;*/
	font-size: 25px;
	background-color: black;
}

/* symbols */

@font-face {
    font-family: 'LigatureSymbols';
    src: url('../font/LigatureSymbols-2.11.eot');
    src: url('../font/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('../font/LigatureSymbols-2.11.woff') format('woff'),
         url('../font/LigatureSymbols-2.11.ttf') format('truetype'),
         url('../font/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}
.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}















